@tailwind base;
@tailwind components;
@tailwind utilities;
.country-img img {
    width: 100%;
    height:150px;
    object-fit: cover;
}
.details-flag {
    display: block;
    height: 290;
    min-width: 390px;
    object-fit: cover;
    border: 0.1px solid gray;
    border-radius: 5px ;
}